# Python
.venv/
__pycache__/
*.pyc

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Generated data
data/simulated/
data/historical/
lakehouse/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# .ENV
.env